.dropdown-menu {
    z-index: 2;
    display: block;
    width: 100%;
    top: 40px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item.v-selected {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}

.dropdown-item.active a {
    color: #fff;
    text-decoration: none;
}

.dropdown-item:active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}